rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        request.auth.token.email == "giorgijavakhishvili75@gmail.com";
    }

    match /receipts/{userId}/{allPaths=**} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
